name: MSVC Build (2015/2017/2019/2022)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  vs2022-build:
    name: MSVC 2022 Build (Release)
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Setup Visual Studio environment
        uses: microsoft/setup-msbuild@v1.1

      - name: Configure CMake
        run: |
          mkdir build-vs2022
          cd build-vs2022
          cmake .. -T v143 # vs2022
      - name: Build
        run: |
          cd build-vs2022
          cmake --build . --config Release --parallel

  vs2019-build:
    name: MSVC 2019 Build (Release)
    runs-on: windows-latest
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Setup Visual Studio environment
        uses: microsoft/setup-msbuild@v1.1

      - name: Configure CMake
        run: |
          mkdir build-vs2019
          cd build-vs2019
          cmake .. -T v142
      - name: Build
        run: |
          cd build-vs2019
          cmake --build . --config Release --parallel
  vs2017-build:
    name: MSVC 2017 Build (Release)
    runs-on: windows-latest
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Setup Visual Studio 2017 Build Tools
        run: |
          # 下载并安装 Visual Studio 2017 Build Tools
          Invoke-WebRequest -Uri "https://aka.ms/vs/15/release/vs_buildtools.exe" -OutFile "vs_buildtools.exe"
          Start-Process -FilePath "vs_buildtools.exe" -ArgumentList "--quiet", "--wait", "--add", "Microsoft.VisualStudio.Workload.VCTools", "--add", "Microsoft.VisualStudio.Component.VC.Tools.x86.x64", "--add", "Microsoft.VisualStudio.Component.Windows10SDK.18362" -NoNewWindow -Wait
        shell: powershell
      
      - name: Setup Visual Studio environment
        uses: microsoft/setup-msbuild@v1.1

      - name: Configure CMake
        run: |
          mkdir build-vs2017
          cd build-vs2017
          cmake .. -T v141 # vs2017

      - name: Build
        run: |
          cd build-vs2017
          cmake --build . --config Release --parallel